# Misc stuff
*~
*.tmp
*.orig
*.rej

# Qt Creator user-specific settings
*.pro.user

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
